<h1>Home Page</h1>
<ul>
	<li><a href="/about">About</a></li>
	<li><a href="/contact">Contact</a></li>
	<li><a href="/register">Register</a></li>
	<li><a href="/login">Login</a></li>
</ul>
<img src="images/user.webp" alt="user" width="400" />