<h1>Login Page</h1>
<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/register">Register</a></li>

</ul>

<form method="post" action="login">
	<div class="row">
		<div class="six columns">
			<label for="exampleEmailInput">Your email</label>
			<input
				name="email"
				class="u-full-width"
				type="email"
				placeholder="test@mailbox.com"
				id="exampleEmailInput"
			/>
		</div>
		<div class="six columns">
			<label for="examplePasswordInput">Password</label>
			<input
				name="password"
				class="u-full-width"
				type="password"
				placeholder="Password"
				id="examplePasswordInput"
			/>
		</div>
	</div>

	<input class="button-primary" type="submit" value="Submit" />
</form>